<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analysis Visualization Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Text Analysis Visualization Hub</h1>
            <p>Interactive analysis developed by ClioX </p>
        </div>
        
        <div class="grid-container">
            <div class="tool-container">
                <h2> Data distribution on email counts </h2>
                <img src="{{ url_for('static', filename='outputs/email_per_day_distribution.png') }}">
            </div>

            <div class="tool-container">
                <h2> Data distribution on Date </h2>
                <img src="{{ url_for('static', filename='outputs/date_distribution.png') }}">
            </div>
        </div>

        <div class="tool-container full-width">
            <h2>📊 Word Cloud</h2>
            <iframe id="cirrus-frame" src="http://localhost:8888/tool/Cirrus/?corpus={{ corpus }}"></iframe>
        </div>

        <div class="tool-container full-width">
            <h2>📝 Document Summary</h2>
            <iframe id="summary-frame" src="http://localhost:8888/tool/Summary/?corpus={{ corpus }}"></iframe>
        </div>
        
        <div class="tool-container full-width">
            <h2>📈 Sentiment Analysis</h2>
            <div id="vis-sentiment">
                <div  id="vis-sentiment-lines"></div>
                <div  id="vis-horizon"></div>
            </div>

        </div>
            <h2>Further more ... </h2>
        <div>

            
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src = "{{ url_for('static', filename='d3.v3.min.js') }}"></script>
    <script src= "{{ url_for('static', filename='horizon_load.js') }}"></script>
    <script src= "{{ url_for('static', filename='sentiment_plot.js') }}"></script>
    <script src= "{{ url_for('static', filename='horizon.js') }}"></script>
    <script src= "{{ url_for('static', filename='colorbrewer.js') }}"></script>
    
    <script>
        var colname = getUrlVars()["col"];
        var dir = "static/data/";
        var word_lines_func;
        var summary_lines_func;

        function events_listener(){
            toggle_elem('events-legend');
            summary_lines_func.update_events();
        }

        //horizon Chart
        hchart = horizons_load();
        d3.select("#vis-horizon").call(hchart);


        /* MISCELANEOUS
        ============================
        */
        function getPrintableDate(txt){
            d = new Date(txt);
            return d.getUTCFullYear()+"-"+(d.getUTCMonth()+1)+"-"+d.getUTCDate();
        }

        function toggle_visibility(show, hide) {
           var s = document.getElementById(show);
           var h = document.getElementById(hide);
           //if(e.style.display == 'block'){
              h.style.display = 'none';
              h.style.visibility = 'hidden';
           //}
           //else{
              s.style.display = 'block';
              s.style.visibility = 'visible';
          //}
        
        } 

        function toggle_elem(elem){
            var e = document.getElementById(elem);
            if(e.style.display == 'block'){
                e.style.display = 'none';
                e.style.visibility = 'hidden';
            } else{
                e.style.display = 'block';
                e.style.visibility = 'visible';
            }
        }

        function formatWordData(obj){
            data = Array();
            for (prop in obj){
                if(prop!="word"){
                    var r = {};
                    r["date"] = prop;
                    r["count"] = +obj[prop];
                    data.push(r);   
                }
            }

            data.sort(function (a, b) {
              if (a.date > b.date) {
                return 1;
              }
              if (a.date < b.date) {
                return -1;
              }
              // a must be equal to b
              return 0;
            });

            return data;
        }

        function cloud_search(txt){
            $('.form-control').val(txt);
            $table = $('#table');
            $table.bootstrapTable('refresh', {query:{search: txt}});
        }


        function responseHandler(res) {
            return res.rows;
        }

        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }
    </script>
</body>
</html>
